@charset "utf-8";

@import "./responsive/mobile";
@import "./responsive/_modal";
@import "./responsive/_tablet";
@import "./responsive/_desktop";

$p-dark: #1a1a2e;
$p-dark2: #16213e;
$p-darkblue: #0f3460;
$p-redorange: #e94560;

$bg-white: white;

body {
  margin: 0px;
  padding: 0px;
  background-color: $p-dark;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  background: #222;
  padding: 0 15px;
}

a {
  color: white;
  text-decoration: none;
}

.menu,
.submenu {
  list-style-type: none;
}

.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}

.logo {
  padding-top: 6px;

  img {
    height: 51px;
    width: 59px;
    border-radius: 10%;
  }
}

.active {
  font-weight: bold;
  color: #2d2a2a;
}

button:active {
  transform: scale(1.1);
}

.model {
  height: 300px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: $p-darkblue;
  padding: 2px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  p {
    font-size: 30px;
    font-family: calibri;
    font-weight: bold;
    padding: 20px;
  }

  button {
    width: 200px;
    height: 40px;
    background-color: $p-redorange;
    outline: none;
    border: none;
    font-size: 14px;
    color: white;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    padding: 10px;
  }
}

footer p {
  font-family: calibri;
}

footer p:nth-child(1) {
  font-size: 30px;
  font-weight: bold;
  line-height: 10px;
}

footer p:nth-child(2) {
  font-size: 16px;
  text-align: center;
}

.social-icons {
  display: flex;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  margin: 20px 10px;
  border-radius: 50%;
}

.copyright {
  color: #565555;
  font-size: 13px;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.social-icons i {
  color: #000000;
}

.social-icons a:hover {
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  transition: all ease 0.5s;
}

.social-icons a:hover i {
  color: blue;
  transition: all ease 0.5s;
  transform: scale(2);
}

#resumeFile {
  border-radius: 7px;
}

.employment-date {
  font-size: 12px;
  color: #FFEB3B;
}

.job-responsibilities {
  padding: 10px;
}

hr {
  margin: 7px;
  font-size: 1px;
}

.position {
  font-size: 12px;
}

.card-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.company-logo {
  margin: 10px;
  height: 50px;
}

.alliance {
  background-color: white;
  padding: 6px;
}

.mlhuillier {
  background-color: white;
}